# The type of messaging we're using (mqtt or amqp)
COMM_TYPE=

# The queue or topic delivering the messages to bop_brain
INPUT_COMM_NAME=
# The queue or topic to dispatch events to
OUTPUT_COMM_NAME=

# Pub and sub connections
MQTT_HOST=
MQTT_PORT=
AMQP_HOST=
AMQP_PORT=

# the env bop is running in - either dev or prod
BOP_ENV=

# Needed for location based services to work. Not mandatory,
# but location based services won't work without it.
# Grab a free key from https://ipgeolocation.io/
IP_GEOLOCATION_API_KEY=
